# Copy to .env next to compose.yml and fill in the values

# Repository the runners register for
REPO=<OWNER>/<REPO>
# Used to request runner registration tokens for REPO
TOKEN=<Github PAT with full repo access>
# Number of runner containers to start
REPLICA_COUNT=<COUNT>
